<div class="col-md-12">

  <h2 class="text-center pose_title">{{muscle}} Stretches</h2>

    <div class="row">
      <div ng-repeat="pose in poses">
        <button class="btn btn-default pose_button" ng-click="filterPose(pose['pose']['id'])">{{pose["pose"]["name"]}}</button>
    </div>  
  </div>

</div>
