<div class="col-md-12">

<!--   <form role="form" class="form">
    <label ng-repeat="muscle in muscles">
    <input type="checkbox" ng-model="myMuscles" value="{{muscle.id}}">{{muscle.name}}</label>
  </form>
 -->
<!-- <hr> -->

    <div class="row">
<!--       <div class="col-lg-6 col-md-offset-4"> -->
    <h2 class="text-center pose_title">{{pose["name"]}}</h2>
    <div class="col-md-4">
      <!-- <h3 class="text-center">Muscles Used</h3> -->
      <!-- <hr/> -->
      <ol style="list-style-type:none;">
        <li ng-repeat="muscle in muscles">
          <button ng-click="goToMuscle(muscle['id'])" ng-show="muscle['name']" class="btn btn-default pose_button">{{muscle["name"]}}</button>
        </li>
      </ol>
    </div>

    <div class="col-md-12">
      <img src="{{pose['img1url']}}" alt="{{pose['name']}}" ng-show="pose['img1url']" class="img-responsive img-rounded">
      <p class="text-center lead">{{pose["description"]}}</p>
    </div>
    <div class="col-md-8">
      <img src="{{pose['img2url']}}" alt="{{pose['name']}}" ng-show="pose['img2url']" class="img-responsive img-rounded">
    </div>
<!--   </div> -->
  </div>


</div>
